gwt-phonegap/.classpath
gwt-phonegap/.project
gwt-phonegap/.settings/
gwt-phonegap/target/
gwt/.classpath
gwt/.project
gwt/.settings/
gwt/target/

android/bin/

xcode/CordovaLib/CordovaLib.xcodeproj/xcuserdata/
xcode/CordovaLib/build/
xcode/GWTGap.xcodeproj/project.xcworkspace/xcuserdata/
xcode/GWTGap.xcodeproj/xcuserdata/
xcode/build/
xcode/cordova/console.log
